@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap"); /* principal title*/
@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap"); /* second title */
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap"); /* paragraph */

/* ----variables fonts----*/

$rajdhani: "Rajdhani", sans-serif;
$courgette: "Courgette", cursive;
$proza: "Proza Libre", sans-serif;

/*----variables colors----*/
$color-nav-register: #994848;
$color-black: #2e2d2d;
$color-title: #4d4949;
$color-logo: #5e5656;
$color-nav: #fff;
$color-red: #612121;
$background-video: #EECCC4;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr 1fr 1fr 1fr;
    gap: 0px 99px;
    grid-template-areas:
      "nav"
      "main"
      "yourProject"
      "video"
      "setting"
}

.main__list {
    list-style: none;
}
.main__link {
    text-decoration: none;
    font-family: $rajdhani;
    font-size: 22px;
    color: $color-black;
}
.main__list #register {
    color: $color-nav-register;
}
.main {
    grid-area: main;
    background-image: url("/../../img/img1.jpg");
    background-size: cover;
    background-position: center;
}
.yourProject {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr;
    gap: 0px 20px;
    grid-template-areas: "photo2 text2";
    grid-area: yourProject;
}
.yourProject .text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.title-project1 {
    text-align: center;
    margin: 10px;
    font-size: 42px;
    font-family: $rajdhani;
    font-weight: medium;
    letter-spacing: 10px;
}
.text-project1 {
    text-align: center;
    font-size: 18px;
    font-family: $proza;
    letter-spacing: 5px;
}
.title-project2 {
    text-align: center;
    margin: 10px;
    font-size: 42px;
    font-family: $rajdhani;
    font-weight: medium;
    letter-spacing: 10px;
    color: $color-black;
}
.text-project2 {
    text-align: center;
    font-size: 18px;
    font-family: $proza;
    letter-spacing: 5px;
    color: $color-black;
}
.title-project3 {
    text-align: center;
    margin: 10px;
    font-size: 42px;
    font-family: $rajdhani;
    font-weight: medium;
    letter-spacing: 10px;
}
.link-register {
    text-align: center;
    font-size: 18px;
    font-family: $rajdhani;
    letter-spacing: 5px;
    color: $color-title;
    margin-top: 20px;
    padding-bottom: 25px;
}
.link-register .iconify {
    position: absolute;
    margin: 3px;
    color: #39415B;
}
.link-register a {
    text-decoration: none;
    color: $color-black;
}
.link-register a:hover {
    color: #994848;
}
.photo2 {
    grid-area: photo2;
    background-image: url("/../../img/img5.jpg");
    background-position: center;
    background-size: cover;
}
.video {
    grid-area: video;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: $background-video;
}
.video iframe {
    display: block;
    margin: 20px auto;
    width: 1440px;
    height: 480px;
}
.setting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr;
    gap: 0px 0px;
    grid-template-areas: "text photo";
    grid-area: setting;
}
.title-project3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1.6fr;
    gap: 20px 0px;
    grid-template-areas:
        "."
        "icons";
    grid-area: text;
}
.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr 1fr;
    gap: 15px 20px;
    grid-template-areas:
        "ideas outlining custom"
        "export export organize";
    grid-area: icons;
    padding: 10px;
}
.ideas {
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 0fr 0fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
        "ideas-manage-icon"
        "ideas-manage-title"
        "ideas-manage-text";
    grid-area: ideas;
    justify-items: center;
    align-items: start;
}
.ideas-manage-title {
    grid-area: ideas-manage-title;
    font-size: 18px;
    font-family: $rajdhani;
    font-weight: 700;
}
.icons .ideas-manage-text {
    grid-area: ideas-manage-text;
    font-size: 12px;
    font-family: $proza;
}
.icons .ideas-manage-icon {
    grid-area: ideas-manage-icon;
    width: 80px;
    height: 80px;
}

.outlining {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
        "outlining-icon"
        "outlining-title"
        "outlining-text";
    grid-area: outlining;
    justify-items: center;
    align-items: start;
}
.outlining-title {
    grid-area: outlining-title;
    font-size: 18px;
    font-family: $rajdhani;
    font-weight: 700;
}
.outlining-text {
    grid-area: outlining-text;
    font-size: 12px;
    font-family: $proza;

}
.outlining-icon {
    grid-area: outlining-icon;
    width: 80px;
    height: 80px;
}

.custom {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
        "custom-icon"
        "custom-title"
        "custom-text";
    grid-area: custom;
    justify-items: center;
    align-items: start;
}
.custom-title {
    grid-area: custom-title;
    font-size: 18px;
    font-family: $rajdhani;
    font-weight: 700;
}
.custom-text {
    grid-area: custom-text;
    font-size: 12px;
    font-family: $proza;

}
.custom-icon {
    grid-area: custom-icon;
    width: 80px;
    height: 80px;
}
.export {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 0fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
        "export-icon"
        "export-title"
        "export-text";
    grid-area: export;
    justify-items: center;
    align-items: start;
}
.export-title {
    grid-area: export-title;
    font-size: 18px;
    font-family: $rajdhani;
    font-weight: 700;
}
.export-text {
    grid-area: export-text;
    font-size: 12px;
    font-family: $proza;

}
.export-icon {
    grid-area: export-icon;
    width: 80px;
    height: 80px;
}
.organize {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 0fr 1fr;
    gap: 20px 0px;
    grid-template-areas:
        "organize-icon"
        "organize-title"
        "organize-text";
    grid-area: organize;
    justify-items: center;
    align-items: start;
}
.organize-title {
    grid-area: organize-title;
    font-size: 18px;
    font-family: $rajdhani;
    font-weight: 700;
}
.organize-text {
    grid-area: organize-text;
    font-size: 12px;
    font-family: $proza;

}
.organize-icon {
    grid-area: organize-icon;
    width: 80px;
    height: 80px;
}
.photo {
    grid-area: photo;
    background-image: url('/../../img/img6.jpg');
    background-position: center;
    background-size: cover;
    min-height: 300px;
}
.container-footer{
    text-align: center;
    background: $background-video;
    color: $color-black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-footer .text-footer a{
    text-decoration: none;
    color: $color-red;
    font-family: $rajdhani;
    font-size: 20px;
}
.container-footer .text-footer{
    font-family: $proza;
    font-size: 18px;
}


