@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');/* first title */
@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');/*second title */
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200&display=swap');/* paragraph */
$junge: 'Junge', serif;
$athiti: 'Athiti', sans-serif;
$hind: 'Hind', sans-serif;

/*----variables colors----*/
$sidebar-color: #2c354d;
$primary-color-light: #f6f5ff;
$body-color: #fdfdfd;
$feather-color: #a0576d;


.form__group{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 20px auto;
    gap: 10px;
    .form__field{
        border: none;
        padding: 1rem;
        border-radius: 1rem;
        background: #e8e8e8;
        box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff;
        transition: 0.3s;
        font-family: $hind;
        font-size: 18px;
    }
    .form__field:focus {
        outline-color: #e8e8e8;
        background: #e8e8e8;
        box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
        transition: 0.3s;
    }
    .form__label{
        font-family: $junge;
        font-weight: 700;
    }

    /**button save character*/
    .button{
        position: relative;
        margin: 0 auto;
        padding: 5px;
        margin-top: 10px;
        width: 200px;
        border: none;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.349);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        font-family: $athiti;
        font-weight: 700;
    }

    .button:hover {
        background-color: $sidebar-color;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
        }

        .button:active {
        transform: translateY(-1px);
        }
    /************************************/
}
a.link_view_articles{
    color: #090909;
    width: 250px;
    margin: 10px 10px;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #919090, -6px -6px 12px #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: $hind;
}

a.link_view_articles:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

/** view see all places */

.wrapper {
    display: grid;
    position: relative;
    width: 70%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr) ;
    gap: 10px;
}

.card_place {
    width: 100%;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0,0,0,0.2);
    position: relative;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    padding: 12px 10px;

    .card_load .iconify{
        width: 70px;
        height: 70px;
        position: relative;
        float: left;
        color: #2c354d;
        border-radius: 50%;
        background-size: 200% 100%;
        background-position: 100% 0;
    }

    .card_load_extreme_title {
        position: relative;
        float: right;
        border-radius: 5px;
        background-size: 200% 100%;
        background-position: 100% 0;
        font-family: $athiti;
        font-weight: 700;
        font-size: 20px;
    }

    .card_load_extreme_descripion {
        width: 80px;
        height: 47px;
        position: relative;
        float: right;
        border-radius: 5px;
        margin-top: 10px;
        background-size: 200% 100%;
        background-position: 100% 0;
    }


}



/**Breakpoints responsive */
@media (min-width: 700px){
    .button{
        width: 100px;
        font-size: 16px;
    }
    .button:hover {
        background-color: $sidebar-color;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .button:active {
        transform: translateY(-1px);
    }
}

@media (max-width: 900px){
    .wrapper {
        display: grid;
        position: relative;
        width: 70%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr) ;
        gap: 10px;
        }

    .card_place{
        display: flex;
        flex-direction: row;
        height: 20vh;
        width: 40vw;
    }
}

@media (max-width: 700px){
    .wrapper {
        display: grid;
        position: relative;
        width: 70%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr) ;
        gap: 10px;
        }

    .card_place{
        display: flex;
        flex-direction: row;
        height: 20vh;
        width: 80vw;
    }
}
