@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

$rajdhani: 'Rajdhani', sans-serif;
$courgette: 'Courgette', cursive;
$color-nav-register: #994848;
$color-black: #2e2d2d;
$color-title: #4d4949;
$color-logo: #5e5656;
$color-nav: #fff;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, max-content);
    grid-template-areas: "main" "cta" "imagen1" "about" "image2";
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}
.main__hero{
    grid-area: main;
    background-image: url("../../img/img3.jpg");
    min-height: 550px;
    background-size: cover;
    background-position: center;
}
.main__nav{
    display: flex;
    align-items: right;
}
.main__hamburger{
    display: flex;
    color: $color-nav;
    z-index: 100;
    width: 50px;
    height: 50px;
    margin: 15px auto;
}
.main__links{display: none;}
.main__logo{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
@media screen and (min-width: 375px){
    .main__logo{
        display: none;
    }
    .title{
        display: flex;
        font-family: $courgette;
        font-size: 2.2em;
        color: $color-nav;
        margin: 0 auto;
        padding: 0.5em;
        border-radius: 5px;
    }

}
