@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


#logo{
    position: absolute;
    width: 79.59px;
    height: 99.29px;
    left: 8.51%;
    right: 85.96%;
}

// #g30{
//     fill: #474545;
// }

// .story {
//     position: absolute;
//     font-size: 42px;
//     left: 11.51%;
//     top: 5.05%;
//     font-family: 'Courgette', cursive;
//     font-weight: 400;
//     color: #474545;
// }

// .factory{
//     position: absolute;
//     font-size: 42px;
//     left: 16.80%;
//     top: 5.05%;
//     font-family: 'Courgette', cursive;
//     font-weight: 400;
//     color: #474545;
// }
